{% extends '::base.html.twig' %}

{% block body -%}
	
	{% form_theme edit_form _self %}

	{% block form_widget %}
		hello
	{% endblock form_widget %}

    <h1>Actor edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('actor') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
